@import url('https://fonts.loli.net/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  max-width: 60vw;
  padding: 60px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.reg {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.input-wrap {
  border: 1px solid white;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  height: 70px;
  width: 90%;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.459);
}

input {
  background-color: transparent;
  font-size: 1.4rem;
  color: white;
  padding: 0 25px;
  flex: 1;
}

input::placeholder {
  color: white;
  font-size: 1.4rem;
}

button,
.custom-button,
.custom-file-button {
  font-size: 1.8rem;
  height: 80px;
  width: 80%;
  max-width: 80%;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 25px;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover,
.custom-button:hover,
.custom-file-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.6);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.result-panel {
  margin-top: 10px;
  width: 100%;
  padding: 100px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
  color: white;
}

.result-panel ul {
  list-style: none;
  padding: 0;
}

.result-panel li {
  margin-bottom: 10px;
}

.result-panel a {
  color: white;
  text-decoration: underline;
}

.result-panel button {
  display: block;
  margin: 20px auto 0 auto;
  width: 80%;
  max-width: 300px;
  height: 80px;
  font-size: 1.6rem;
}

#splitForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 手机端适配 */
@media (max-width: 768px) {
  #login-form {
    width: 95%;
    height: 95vh;
    max-width: none;
    padding: 40px 20px;
    border-radius: 25px;
  }

  button,
  .custom-button,
  .custom-file-button {
    width: 100%;
    font-size: 2rem;
    height: 90px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .reg {
    font-size: 1.3rem;
  }

  input {
    font-size: 1.6rem;
  }

  input::placeholder {
    font-size: 1.6rem;
  }
}